{% extends "base.html" %}

{% block content %}
<header>
    <nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
              <a class="navbar-brand text-white" href="{% url "movies:index" %}">SSAFY</a>
              <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link active text-white" aria-current="page" href="{% url "movies:index" %}">INDEX</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
      </nav>
</header>
<p></p>
<h2>Create</h2>
<form action="{% url "movies:create" %}" method = 'POST'>
    {% csrf_token %}
    <label for="title"> title : </label>
    <input type="text" id = 'title' name = 'title'>
    <p></p>
    <label for="content">Description : </label>
    <textarea name="description" id="content" cols="30" rows="10"></textarea><p>
    <p></p>
    <input type="submit" value = '제출'>
</form>
<p></p>
<a class="btn btn-primary" href="{% url "movies:index" %}">BACK</a>
{% endblock content %}


